body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#parentDiv {
  position: relative;
}

#parentDiv p {
  position: absolute;
  z-index: 10;
  color: white;
  left: 10px;
  top: 10px;
  margin: 0;
}
