* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  background-color: #00010d;
  justify-content: center;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
}

.grid {
  margin-top: 225px;
  position: absolute;
  width: 780px;
  height: 500px;
  border: solid 1px #fff;
}

.user {
  position: absolute;
  width: 85px;
  height: 20px;
  outline: solid 2px #fff;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: white;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #1E6FD9;
}

#score {
  margin-top: 150px;
}
