* {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  background-color: #00010d;
  overflow: hidden;
}

button {
  cursor: pointer;
  width: 140px;
  height: 40px;
  background-color: #0c1250;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 400px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.grid div {
  height: 40px;
  width: 40px;
}

.tetromino {
  background-color: #049dd9;
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

.mini-grid {
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-left: 50px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
}

.mini-grid div {
  height: 40px;
  width: 40px;
}

.scoreDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

h3 {
  margin-right: 30px;
  font-size: 24px;
}

#play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.9);
  z-index: 10;
}

#play .play {
  width: 80px;
  cursor: pointer;
}

#play p {
  margin: 30px 0 30px 0;
  font-size: 20px;
}

#play .arrow {
  width: 25px;
}

.home {
  width: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 20;
  cursor: pointer;
}

.keyboard {
  background-color: rgb(114, 114, 114);
  padding: 15px;
  margin: 0 7px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 2px 2px 8px 8px;
}

.keyboardGroups {
  display: flex;
}

.description {
  margin-top: 15px !important;
  font-weight: 400;
  font-size: 18px !important;
}

.move {
  text-align: center;
  margin-right: 25px;
}

.rotate {
  margin-left: 30px;

  text-align: center;
}

.controls {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.mission {
  color: #f2ce16;
}
