* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: #00010d;
  justify-content: center;
}

button {
  cursor: pointer;
}

.game {
  border: 4px solid rgba(255, 255, 255, 0.7);
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #040404e0;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div {
  border: 4px solid rgba(255, 255, 255, 0.7);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.game > div.winner-bot {
  background: #bf0413;
}

.game > div.winner-player {
  background: #0460d9;
}

.hashDiv {
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 200px;
  color: white;
  background-color: rgba(255, 255, 255, 0.03);
}

.hashDiv div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OType {
  font-weight: 700;
  font-size: 48px;
  color: #0460d9;
}

.XType {
  font-weight: 700;
  font-size: 48px;
  color: #d61020;
}

.hashDiv i {
  font-size: 40px;
}

.gameHash {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.banner {
  font-size: 38px;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 0;
  color: white;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.modes {
  display: block;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.04);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.modes button {
  display: block;
  color: white;
  padding: 10px 0;
  font-size: 24px;
  width: 200px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

.easyBtn {
  background-color: #e8b10c;
}

.normalBtn {
  background: #e87c15;
}

.hardBtn {
  background: #e03426;
}

.players {
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.04);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.players div {
  font-size: 30px;
  align-items: center;
  display: flex;
  font-weight: 500;
}

.player {
  margin-right: 8px;
}

.playerColor {
  color: #0460d9;
  padding-bottom: 25px;
}

.botColor {
  color: #d61020;
}

.principal {
  margin: 0 80px 0 80px;
  text-align: center;
}

.principal button {
  margin-top: 30px;
  background-color: #000426;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.levelString {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}

.player-points {
  color: #fff;
}

.pc-points {
  color: #fff;
}

.game div {
  line-height: 0;
}

.game {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.game div {
  line-height: 0;
}

@media (max-width: 1315px) {
  section {
    display: block;
  }

  .players {
    margin: 0 50px;
  }

  .principal {
    margin: 40px 80px;
    text-align: center;
  }

  .modes {
    display: flex;
    flex-direction: column;
justify-content:center;
align-items: center;
    margin: 0 50px;
    margin-bottom: 100px;
  }

  
}
